/* font */
@font-face {
	font-family: 'ROKAF'; 
	src: url('font/ROKAF\ Slab\ Serif\ Medium.ttf') format('truetype');
	src: url('font/ROKAF\ Slab\ Serif\ Bold.ttf') format('truetype');
}
@font-face {    
	font-family: 'pretendard';    
	src: url('font/Pretendard-Black.woff') format('woff');
	font-weight: 900;
}
@font-face {    
	font-family: 'pretendard';    
	src: url('font/Pretendard-ExtraBold.woff') format('woff');
	font-weight: 800;
}
@font-face {    
	font-family: 'pretendard';    
	src: url('font/Pretendard-Bold.woff') format('woff');
	font-weight: 700;
}
@font-face {    
	font-family: 'pretendard';    
	src: url('font/Pretendard-SemiBold.woff') format('woff');
	font-weight: 600;
}
@font-face {    
	font-family: 'pretendard';    
	src: url('font/Pretendard-Medium.woff') format('woff');
	font-weight: 500;
}
@font-face {    
	font-family: 'pretendard';    
	src: url('font/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
}
@font-face {    
	font-family: 'pretendard';    
	src: url('font/Pretendard-Light.woff') format('woff');
	font-weight: 300;
}
@font-face {    
	font-family: 'pretendard';    
	src: url('font/Pretendard-ExtraLight.woff') format('woff');
	font-weight: 200;
}
@font-face {    
	font-family: 'pretendard';    
	src: url('font/Pretendard-Thin.woff ') format('woff');
	font-weight: 100;
}

.font_ROKAF{
	font-family: 'ROKAF';
}
.font_pret{
	font-family: 'pretendard';
}

.t_a_r{
    text-align: right;
}