/* headere */
.header{z-index: 99;position: sticky;top: 0;left: 0;right: 0;height: 70px;background-color: #fff;}
.header__cont{max-width: 1120px;height: 100%;margin:0 auto;padding: 0 200px;display: flex;justify-content: space-between;align-items: center;}
.header__logo--logo-text::before{content:"";position: absolute;top: 50%;left: 0;transform: translateY(-50%);width: 40px;height: 41px;background: url('img/logo.png') no-repeat center / contain;}
.header__logo--logo-text{position: relative;padding-left: 50px;font-size: 26px;color: #3692FF}
.header__login--login-text{padding: 15px 30px;border-radius: 8px;color: #F3F4F6;font-size: 16px;font-weight: 600;text-align: center;background: #3692FF;}
.header__login--login-text:hover{background-color: #1967D6;}

/* main */
.main{position: relative;height: 540px;background-color: #CFE5FF;}
.main__cont{display: flex;align-items: center;max-width: 1120px;height: 100%;margin:0 auto;background: url('img/Img_home_top.png') no-repeat right bottom / 746px 340px;}
.main__text-group{display: flex;flex-direction: column;gap: 20px;}
.main__text-group p{font-weight: 700;font-size: 40px;line-height: 56px;color: #374151;}
.main__text-group a{padding: 15px 130px;font-size: 20px;font-weight: 600;text-align: center;color: #fff;background-color: #3692FF;border: none;border-radius: 40px}
.main__text-group a:hover{background-color: #1967D6;}

/* goods */
.goods{}
.goods__cont{display: flex;max-width: 1120px;margin: 200px auto;flex-direction: column;gap: 250px;}
.goods__cont-group{display: flex;width: 100%;height: 450px;margin: 0 auto;align-items: center;background-color: #FCFCFC;border-radius: 12px;overflow: hidden;}
.goods__cont-group img{width: 55%;}
.goods__text-box{display: flex;width: 45%;justify-content: center;}
.goods__text-group{}
.goods__text-group--description{font-size: 18px;line-height: 26px;font-weight: 700;color: #3692FF;}
.goods__text-group--title{font-size: 40px;line-height: 56px;font-weight: 700;color: #374151;}
.goods__text-group--text{font-size: 24px;line-height: 32px;font-weight: 500;color: #374151;}

/* trust */
.trust{width: 100%;height: 540px;background-color: #CFE5FF;}
.trust__cont{width: 1110px;height: 100%;display: flex;align-items: center;margin: 0 auto;background: url('img/Img_home_bottom.png') no-repeat right bottom / 746px 397px;}
.trust__text-group p{font-weight: 700;font-size: 40px;line-height: 56px;color: #374151;}

/* footer */
.footer{width: 100%;height: 160px;background-color: #111827;}
.footer__cont{display: flex;justify-content: space-between;max-width: 1110px;margin: 0 auto;padding: 32px 50px 0;}
.footer p, .footer a{font-size: 16px;font-weight: 400;}
.footer__copyright{color: #9CA3AF;}
.footer__menu-group{display: flex;gap: 30px;}
.footer__menu-group a{color:#E5E7EB;text-decoration: none;}
.footer__menu-group a:hover{opacity: 0.5;}
.footer__sns-group{display: flex;gap: 12px;}
.footer__sns-group li{width: 20px;height: 20px;}
.footer__sns-group a{display: block;width: 100%;height: 100%;font-size: 0;background-repeat: no-repeat;background-position: center;}
.footer__sns-group a:hover{opacity: 0.5}
.footer__sns-group--facebook{background-image: url('img/ic_facebook.png');}
.footer__sns-group--twitter{background-image: url('img/ic_twitter.png');}
.footer__sns-group--youtube{background-image: url('img/ic_youtube.png');}
.footer__sns-group--instagram{background-image: url('img/ic_instagram.png');}