@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/**********************
				common
***********************/
body {
	font-family: 'Pretendard-Regular', sans-serif;
}
#wrapper {
	overflow: hidden;
}
.container {
	max-width: 1120px;
	margin: 0 auto;
}

/**********************
				header
***********************/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 200px;
	height: 70px;
}
.header .logo {
	display: block;
	flex: 0 0 153px;
}
.header .nav_manu {
	
}
.header .nav_util {
	display: flex;
	justify-content: flex-end;
}
.header .nav_util a {
	display: block;
	width: 128px;
	line-height: 48px;
	font-weight: 600;
	color: #f3f4f6;
	text-align: center;
	border-radius: 8px;
	background-color: #3692FF;
	transition: background-color 0.3s linear;
}
.header .nav_util a:hover {
	background-color: #1251AA;
}

/**********************
				footer
***********************/
.footer {
	background-color: #111827;
}
.footer .container {
	display: flex;
	justify-content: space-between;
	height: 160px;
	padding-top: 35px;
}
.footer .title {
	color: #9CA3AF;
}
.footer .site_map {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.footer .site_map a {
	color: #E5E7EB;
}
.footer .sns {
	display: flex;
	justify-content: space-between;
	gap: 12px;
}