/* ROKAF Sans 폰트 */
@font-face {
  font-family: 'ROKAF Sans';
  src: url(/sprint_mission/12-Sprint-Mission/fonts/ROKAF_SANS_MEDIUM.ttf) format('truetype');
}

:root {
  --blue: #3692FF;
  --gray900: #111827;
  --gray800: #1F2937;
  --gray700: #374151;
  --gray600: #4B5563;
  --gray500: #6B7280;
  --gray400: #9CA3AF;
  --gray200: #E5E7EB;
  --gray100: #F3F4F6;
  --gray50: #F9FAFB;
}

/* INDEX CSS FILE */
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

main {
  padding-top: 70px;
}

/***************** header ******************/
header { 
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 70px;
}

@media screen and (max-width: 1199px) {
  
}

.header-bar, .logo {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.logo {
  gap: 10px;
}

.header-bar {
  margin: auto;
  padding: 0 200px;
  background-color: #ffffff;
  border: 1px solid #DFDFDF;
  width: 100%;
  height: 70px;
  flex-direction: row;
  justify-content: space-between;
  
}

@media screen and (max-width: 1199px){
  .header-bar {
    margin: auto;
    padding: 0 24px;
    background-color: #ffffff;
    border: 1px solid #DFDFDF;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px){
  .header-bar {
    margin: auto;
    padding: 0 16px;
    background-color: #ffffff;
    border: 1px solid #DFDFDF;
    min-width: 359px;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.header-bar img {
  width: 40px;
  height: 40px;
}

.header-bar button {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  width: 128px;
  height: 48px;
  color: #ffffff;
  padding: 12px 23px;
  background-color: var(--blue);
  border-radius: 8px;
  border: 0px;
}

.logoTitle, a {
  font-family: 'ROKAF Sans';
  text-decoration: none;
  color: var(--blue);
  font-weight: 800;
  font-size: 25px;
  line-height: 36px;
  text-align: left;
}

.header-bar > button:hover {
  cursor: pointer;
  background: #1967D6;
}

/***************** footer ******************/

.footer {
  background-color: var(--gray900);
  height: 160px;
}

.footer-bar {
  height: 20px;
  padding: 32px 400px 108px;
}

.footer-bar, .privacyNfaq, .socialNetwork{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bar .copyRight {
  font-weight: 400;
  color: var(--gray400);
}

.footer-bar .privacyNfaq a{
  color: var(--gray200);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
}

.privacyNfaq {
  gap: 30px;
}

.socialNetwork {
  gap: 12px;
}

/***************** section_1 ******************/
.section_1, .sec1_frame {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.section_1 {
  height: 540px;
  background-color: #cfe5ff;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1199px){
  .section_1 {
    min-width: 744px;
    height: 771px;
    background-color: #cfe5ff;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 767px){
  .section_1 {
    min-width: 391px;
    height: 540px;
    background-color: #cfe5ff;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section_1 button {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: var(--blue);
  color: #FFFFFF;
  gap: 10px;
  padding: 16px 124px;
  border: 0px;
  height: 56px;
  font-weight: 600;
  border-radius: 40px;
  font-size: 20px;
}

@media screen and (max-width: 1199px){
  .section_1 button {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background-color: var(--blue);
    color: #FFFFFF;
    gap: 10px;
    padding: 16px 124px;
    border: 0px;
    width: 357px;
    height: 56px;
    font-weight: 600;
    border-radius: 40px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px){
  .section_1 button {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background-color: var(--blue);
    color: #FFFFFF;
    gap: 10px;
    padding: 12px 71px;
    border: 0px;
    width: 240px;
    height: 48px;
    font-weight: 600;
    border-radius: 40px;
    font-size: 18px;
  }
}

.section_1 .sec1_frame {
  gap: 7px;
  margin: 0;
  height: 540px;
}

@media screen and (max-width: 1199px){
  .section_1 .sec1_frame {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    margin: 0;
    min-width: 744px;
    height: 771px;
  }
}

@media screen and (max-width: 767px){
  .section_1 .sec1_frame {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    margin: 0;
    height: 540px;
  }
}

.sec1_sentence {
  width: 295px;
  height: 112px;
}

@media screen and (max-width: 1199px){
  .sec1_sentence {
    width: 512px;
    height: 56px;
  }
}

@media screen and (max-width: 767px){
  .sec1_sentence {
    width: 240px;
    height: 90px;
    text-align: center;
  }
}

.sec1_frame h1 {
  color: var(--gray700);
  margin: 0;
  letter-spacing: -1px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

@media screen and (max-width: 767px){
  .sec1_frame h1 {
    color: var(--gray700);
    margin: 0;
    letter-spacing: -1px;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }
}

.sec1_frame .sec1_img {
  position: relative;
  overflow: hidden;
  width: 740px;
  height: 340px;
}

@media screen and (max-width: 767px){
  .sec1_frame .sec1_img {
    position: relative;
    overflow: hidden;
    width: 448px;
    height: 204px;
  }
}

.sec1_img > img {
  position: absolute;
  width: 100%;
}

.sec1_sentence_flex {
width: 357px;
height: 260px;
display: flex;
justify-content: flex-start;
flex-direction: column;
gap: 32px;
padding: 40px 0;
}

@media screen and (max-width: 1199px){
  .sec1_sentence_flex {
    min-width: 744px;
    height: 136px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 84px 116px 211px;
    }
}

@media screen and (max-width: 767px){
  .sec1_sentence_flex {
    width: 240px;
    height: 156px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    padding: 48px 67px 132px 68px;
    }
}

.sec1_sentence_flex > button:hover {
  cursor: pointer;
  background: #1967D6;
}

/***************** section_2 ******************/

.section_2 {
  display: flex;
  flex-direction: column;
  min-height: 2160px;
  margin-bottom: 137px;
}

@media screen and (max-width: 1199px){
  .section_2 {
    display: flex;
    flex-direction: column;
    gap: 52px;
    min-height: 2228px;
    margin: 24px 24px 56px 24px;
  }
}

.sec2_1, .sec2_2, .sec2_3 {
  padding: 138px 466px;
  max-height: 720px;
}

@media screen and (max-width: 1199px){
  .sec2_1, .sec2_2, .sec2_3 {
    min-width: 696px;
    height: 708px;
    padding: 0;
  }
}

.sec2_3 {
  padding: 138px 459px 138px 466px;
}

@media screen and (max-width: 1199px){
  .sec2_3 {
    padding: 0;
  }
}

.sec2_1frame {
  padding: 0 23.5px;
}

.sec2_2frame {
  padding: 0 14px;
  flex-wrap: wrap-reverse;
}

.sec2_3frame {
  padding: 0 0 0 7px;
}

.sec2_1frame, .sec2_2frame, .sec2_3frame {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1199px){
  .sec2_1frame, .sec2_2frame, .sec2_3frame {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 0;
    padding: 0;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px){
  .sec2_2frame {
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 1200px){
  .sec2_2frame {
    flex-wrap: wrap-reverse;
  }
}

.sec2_hotItem_flex, .sec2_register_flex{
  gap: 12px;
  display: flex;
  flex-direction: column;
  height: 238px;
  flex-grow: 1;
}

.hotItem, .register {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  gap: 24px;
  height: 200px;
}

.register {
  padding-right: 0;
  min-width: 338px;
}

.sec2_search_flex, .search{
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 317px;
  height: 238px;
  flex-grow: 1;
}

.search {
  padding-left: 24px;
  gap: 24px;
}

.sec2_search_flex > h1, .search > h2, .search > h3{
  text-align: right;
}

.search > h2 {
  padding-left: 14px;
}

.section_2 h1 {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: var(--blue);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.section_2 h2 {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: var(--gray700);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.section_2 h3 {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: var(--gray700);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.section_2 .imgSize {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  width: 579px;
  height: 444px;
}

@media screen and (max-width: 1199px){
  .section_2 .imgSize {
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    width: 579px;
    height: 444px;
    flex-grow: 1;
  }
}

.imgSize > img {
  position: absolute;
  width: 100%;
}

/***************** section_3 ******************/

.section_3 {
  background-color: #cfe5ff;
  background-size: cover;
  background-repeat: no-repeat;
  height: 540px;
  padding: 0 405px;
}

.section_3, .sec3_frame {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 1199px){
  .section_3 {
    min-width: 744px;
    min-height: 927px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.section_3 .sec3_frame {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  gap: 69px;
  margin: 0;
  max-width: 1110px;
  max-height: 397px;
}

@media screen and (max-width: 1199px){
  .section_3 .sec3_frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 744px;
    min-height: 927px;
    padding: 201px 0 0 0;
    gap: 217px;
    margin: 0;
  }
}    

.sec3_frame .sec3_img {
  position: relative;
  overflow: hidden;
  width: 746px;
  height: 397px;
}

.sec3_img > img {
  position: absolute;
  width: 100%;
}

.sec3_sentence {
  width: 295px;
  height: 172px;
  padding: 112.5px 0;
}

@media screen and (max-width: 1199px){
  .sec3_sentence {
    text-align: center;
    width: 295px;
    height: 112px;
    padding: 0 225px;
  }
}   

.sec3_frame h1 {
  color: var(--gray700);
  margin: 0;
  letter-spacing: -1px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}








