@charset "utf-8";
.banner {
	background-color: #CFE5FF;
}
.banner .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	height: 540px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 67%;
}
.banner .txt {
	flex: 1 0 357px;
	padding-top: 140px;
}
.banner .txt h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;
	color: #374151;
}
.banner .txt a {
	display: inline-flex;
	align-items: center;
  justify-content: center;
	margin-top: 30px;
	padding: 16px 124px;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	background-color: #3691FF;
	border-radius: 999px;
	transition: background-color 0.3s linear;
}
.banner .txt a:hover {
	background-color: #1251AA;
}

.section1 .container {
	background-image: url('../img/Img_home_top.png');
}

.section2 {
	padding-bottom: 138px;
}
.section2 .container {
	padding: 0 66px;
}
.section2 .box {
	padding: 138px 0;
}
.section2 .box .inner {
	display: flex;
	align-items: center;
	gap: 6%;
	border-radius: 12px;
	overflow: hidden;
	color: #374151;
}
.section2 .box .txt {
	flex: 1;
}
.section2 .box .txt span {
	font-size: 18px;
	font-weight: 700;
	color: #3692FF;
}
.section2 .box .txt h1 {
	margin-top: 12px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;
}
.section2 .box .txt p {
	margin-top: 24px;
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
}
.section2 .box:nth-child(even) {
	text-align: right;
}

.section3 .container {
	background-image: url('../img/Img_home_bottom.png');
}
.section3 .txt {
	padding-top: 80px;
}