@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

p,
a,
h1,
h2,
h3 {
  font-family: "Pretendard-Regular";
}

header,
section {
  width: 100%;
}

a {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 9.5px 400px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8.5px;
}

.logo-container a {
  font-size: 26px;
  font-weight: 700;
  color: #3692ff;
}

.login-button {
  width: 128px;
  height: 48px;
  background: #3692ff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section,
.banner-section {
  background: #cfe5ff;
}

.margin-container,
.banner-container {
  margin: 0 auto;
  padding: 0 405px;
  width: 1110px;
}

.main-banner-container {
  display: flex;
  align-items: center;
  padding-top: 200px;
  gap: 7px;
}

.click-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: #374151;
  line-height: 56px;
  white-space: nowrap;
}

.click-container a {
  width: 100%;
  color: #f9fafb;
  background-color: #3692ff;
  height: 56px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.market-explain-container {
  padding: 138px 466px;
  width: 988px;
}

.search-container,
.hot-items-container,
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 23.5px;
  gap: 64px;
  background-color: #fcfcfc;
}

.explain-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding-right: 24px;
}

h3 {
  color: #3692ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.explain-container > h2 {
  letter-spacing: calc(40px * 0.02);
}

.main-explain-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-explain-container > p {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #374151;
  white-space: nowrap;
}

.search-container > img {
  order: 2;
}

.search-container > .explain-container {
  padding-left: 24px;
  padding-right: 0;
}

.banner-container {
  display: flex;
  gap: 69px;
  justify-content: space-between;
  align-items: center;
  padding-top: 143px;
}

.footer-section {
  width: 100%;
  height: 160px;
  background-color: #111827;
}

.footer-container {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 32.5px;
}

.footer-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-ul > li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
}

.footer-ul > li:first-child {
  color: #9ca3af;
}

.footer-ul > li:nth-child(2) {
  display: flex;
  gap: 30px;
}

.footer-ul > li:nth-child(2) > a {
  color: #e5e7eb;
}

.footer-ul > li:last-child {
  display: flex;
  gap: 12px;
}
