* {margin: 0; padding: 0; box-sizing: border-box;}
body {font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
body {font-size: 12px; line-height: 1.3333; color: #374151; }
ol, ul, li {list-style: none;}
a {color: #374151; text-decoration: none;}

/* common */
.ab {display: block; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: none; border: none; padding: 0; margin: 0; box-shadow: none; font: inherit; color: inherit; cursor: pointer; outline: none;}
.inp {display: block; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: none; border: none; padding: 0; margin: 0; box-shadow: none; font: inherit; color: inherit;}
.btn_sml {display: block; width: 128px; padding: 12px 20px; background-color: #3692FF; border-radius: 8px; color: #F3F4F6; font-size: 16px; font-weight: 600; line-height: 1.5; text-align: center; transition: all 0.2s;}
.btn_sml:hover {background-color: #1967D6;}
.btn_sml:active {background-color: #1251AA;}
.btn_sml.disabled {background-color: #9CA3AF;}
.btn_lg {display: block; width: 357px; padding: 12px 20px; background-color: #3692FF; border-radius: 50px; color: #F3F4F6; font-size: 20px; font-weight: 600; line-height: 1.6; text-align: center; transition: all 0.2s;}
.btn_lg:hover {background-color: #1967D6;}
.btn_lg:active {background-color: #1251AA;}
.btn_lg.disabled {background-color: #9CA3AF;}

/* header */
#header {display: grid; grid-template-columns: minmax(200px, 1fr) minmax(720px, 1120px) minmax(200px, 1fr); width: 100%; height: 70px; background-color: #fff;}
#header > .hd_inner {display : flex; align-items: center; justify-content: space-between; height: 100%;}
#header .logo > a img {height: 50px;}

/* main */
.main_bgbox {width: 100%; height: 540px; background-color: #CFE5FF;}
.main_bgbox .bgbox_inner {position: relative; max-width: 1110px; width: 100%; height: 100%; margin: 0 auto; padding-top: 240px; background: no-repeat 100% 100% / 746px;}
.main_bgbox .cont .tit {font-size: 40px; font-weight: 700; line-height: 1.4;}
.main_bgbox .cont .btn {margin-top: 32px;}

#main .main_visual .bgbox_inner {background-image: url(img/main_obj1.png);}

.main_mid > .mid_inner {max-width: 988px; width: 100%; margin: 0 auto;}
.main_mid .main_list > li {padding: 138px 0;}
.main_mid .main_list > li > .box {overflow: hidden; display : flex; align-items: center; justify-content: space-between; gap: 64px; background-color: #FCFCFC; border-radius: 12px;}
.main_mid .main_list > li .thum img {display: block; height: 444px;}
.main_mid .main_list > li .cont {flex:1; padding-right: 42px; word-break: keep-all;}
.main_mid .main_list > li:nth-child(even) .cont {order: -1; padding-left: 42px; padding-right: 0; text-align: right;}
.main_mid .main_list > li .cont .cate {margin-bottom: 12px; color: #3692FF; font-size: 18px; font-weight: 700; line-height: 1.4444;}
.main_mid .main_list > li .cont .tit {margin-bottom: 24px; font-size: 40px; font-weight: 700; line-height: 1.4;}
.main_mid .main_list > li .cont .desc {font-size: 24px; font-weight: 500; line-height: 1.3333;}

.main_line {width: 100%; height: 138px; background-color: #FCFCFC;}

#main .main_btm .bgbox_inner {padding-top: 250px; background-image: url(img/main_obj2.png);}

/* footer */
#footer {background-color: #111827; height: 160px; padding-top: 32px;}
#footer > .ft_inner {display : flex; align-items: center; justify-content: center; max-width: 1120px; width: 100%; margin: 0 auto;}
#footer .copy {flex:1; color: #9CA3AF; font-size: 16px; font-weight: 400;}
#footer .ft_menu {flex:1; display : flex; align-items: center; justify-content: center;  font-size: 16px; font-weight: 400;}
#footer .ft_menu > li {padding: 0 15px;}
#footer .ft_menu > li > a {color: #E5E7EB;}
#footer .ft_icon {flex:1; display : flex; align-items: center; justify-content: flex-end;}
#footer .ft_icon > li + li {margin-left: 12px;}
#footer .ft_icon > li > a > img {display: block; height: 18px;}