h2,p {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  border: 2px solid black;
}

.image {
  width: 100%;
  height: 200px;
}

.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
