@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  background: #fcfcfc;
  font-family: "Pretendard", sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
}

#root {
  padding-top: 7rem;
}

.inner {
  max-width: calc(112rem + var(--gutter) * 2);
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.a11y {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

/*skipnavi*/
#skip-nav {
  position: relative;
  z-index: 99999;
}

#skip-nav a {
  position: absolute;
  top: -3.4rem;
  left: 0;
  width: 20rem;
  height: 3.4rem;
  background: #222;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  line-height: 3.4rem;
  white-space: nowrap;
}

#skip-nav a:active,
#skip-nav a:focus {
  top: 0;
  z-index: 100;
}

/* layout - header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 7rem;
  padding: 0 calc(20rem - var(--gutter));
  border-bottom: 1px solid var(--color-grey);
  background: #fff;
}

#header .nav {
  display: flex;
  align-items: center;
  height: 100%;
}

#header .logo {
  display: block;
  height: 5.1rem;
  margin-right: 3.2rem;
}

#header .logo a {
  display: block;
  height: 100%;
}

#header .logo img {
  width: auto;
  height: 100%;
}

#header .gnb {
  display: flex;
}

#header .gnb .gnb-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.1rem 1.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-seondary-600);
}

#header .util {
  flex: none;
  margin-left: auto;
}

#header .util .login-btn {
  width: 12.8rem;
}

/* layout - footer */
#footer {
  padding: 3.2rem calc(20rem - var(--gutter)) 10.8rem;
  background: var(--color-seondary-900);
  color: var(--color-white);
}

#footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .copyright {
  color: var(--color-seondary-400);
}

#footer .footer-nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#footer .footer-nav-list .nav-item {
  color: var(--color-seondary-200);
}

#footer .sns-list {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#footer .sns-list .sns-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

#footer .sns-list .sns-item img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  #header {
    padding: 0;
  }

  #footer {
    padding: 4rem 0 8rem;
  }

  #footer .inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }
}
