@charset "utf-8";
:root {
  --color-primary-300: #1251aa;
  --color-primary-200: #1967d6;
  --color-primary-100: #3692ff;
  --color-seondary-900: #111827;
  --color-seondary-800: #1f2937;
  --color-seondary-700: #374151;
  --color-seondary-600: #4b5563;
  --color-seondary-500: #6b7280;
  --color-seondary-400: #9ca3af;
  --color-seondary-200: #e5e7eb;
  --color-seondary-100: #f3f4f6;
  --color-seondary-50: #f9fafb;
  --color-error: #f74747;
  --color-white: #fff;
  --color-grey: #dfdfdf;
  --color-black: #4b5563;
}
