@charset "utf-8";

* {
    font-family: sans-serif;
}

.top_logo {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    display: flex;

    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
}
.frame{
    flex-grow:1;
}
.top_logo>img {
    cursor: pointer;
}

.log_btn {
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    width: 128px;
    height: 48px;
    background-color: #3692FF;
    border-style: none;
    color: white;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
}

.banner_contents {
    max-width: 1110px;
    height: 340px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;

    margin-left: auto;
    margin-right: auto;
}

.top_pad{
    padding-top: 200px;
}

.banner_content{
    display:flex;
    flex-direction: column;
    gap:32px;
}

.banner_sen {
    float: left;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

.top_btn {
    float: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    border-radius: 40px;
    height: 56px;
    color: #FFF;
    background-color: #3692FF;
    border: none;
    cursor:pointer;
}

.banner_img {
    float: right;

}

.sections {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    padding-top: 138px;
    padding-bottom: 138px;


}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    max-width: 1000px;
    height: 444px;

    background-color: #FCFCFC;
}
.sentences{
    padding-right:23.5px;
}
.sentences1{
    padding-left:23.5px;
}
.sen1{
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color:#3692FF;
}

.sen2{
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.02em;
}

.sen3{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.txt{
    text-align: left;
}

.txt1{
    text-align: right;
}

.btm_pad{
    padding-top: 170px;
}

.foot{
    background-color:#111827 ;
    height:160px;
}

.foot_con{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    margin:0 auto;

    padding-top: 32px;
}

.foot_sen{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
}

.name{
    color:#9CA3AF;
}

.pf{
    display:flex; 
    gap:30px;

    cursor: pointer;

    color:#E5E7EB;
}

.foot_icons{
    float:right;
    cursor: pointer;
    gap:15px;
}