.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion-item {
  box-sizing: border-box;
  border: 2px solid #444;
}

.accordion-header {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 400px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion-header:hover {
  background-color: #ccc;
}

.accordion-header.active {
  background-color: skyblue;
}

.accordion-body {
  padding: 0 18px;
  background-color: green;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

button {
  cursor: pointer;
}
